:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.rgba {
    background: rgba(0, 0, 255, 0.3);
}
.active {
    background: rgb(241 245 249);
    color: #3f00e7;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .static-width {
        @apply mx-auto max-w-6xl px-4;
    }

    .menu {
        @apply p-4 rounded-lg;
    }
    .active {
        @apply bg-slate-100 text-primary hover:bg-slate-100 !important;
    }
    .Modal {
        @apply w-[100vw] fixed h-[100vh] top-0 left-0 bg-[rgba(0,0,0,0.3)] py-4 px-8 transition duration-300 opacity-[1];
    }
}
